# ãƒ©ã‚¤ãƒ–ãƒ©ãƒª

In [36]:
import pandas
import re
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import numpy as np
import emoji
import statistics

# åˆ†æç”¨DFä½œæˆ

In [37]:
def make_dataframe(csv):
    """
    ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ä½œã‚‹ãƒ¢ã‚¸ãƒ¥ãƒ¼ãƒ«
    """
    # ã¾ãšãƒ†ã‚­ã‚¹ãƒˆãƒ•ã‚¡ã‚¤ãƒ«ã‚’èª­ã¿è¾¼ã‚“ã§ã‚«ãƒ©ãƒ åã‚’å¤‰æ›´ã™ã‚‹
    line_df = pandas.read_csv(csv, sep='\n') 
    line_df = line_df.rename(columns={line_df.columns[0]:'talks'})
    line_df = line_df[1:]

    # æ­£è¦è¡¨ç¾ã§ãƒˆãƒ¼ã‚¯ã‹ã‚‰æ—¥ä»˜ã‚’å–å¾—ã—æ–°ã—ã„ã‚«ãƒ©ãƒ ã¨ã—ã¦çµåˆã™ã‚‹
    date_list = []
    date_pattern = '(\d+)/(\d+)/\d+\(.?\)'
    for talk in line_df['talks']:
        result = re.match(date_pattern, talk)
        if result:
            date_t = result.group()
            date_list.append(date_t)
        else:
            date_list.append(date_t)

    line_df['date'] = date_list

    # talksã«ãŠã„ã¦æ—¥ä»˜ã®ã‚«ãƒ©ãƒ ã¯ã‚‚ã†å¿…è¦ãªã„ã®ã§ã€ãã“ãŒTrueã®ã‚‚ã®ã‚’isiné–¢æ•°ã§æ¶ˆã™
    flag = line_df['talks'].isin(line_df['date'])
    line_df = line_df[~flag]
    line_df.dropna(inplace=True)    

    # # talkså†…ã‚’ã€æ™‚é–“ã€è©±è€…ã€ãƒˆãƒ¼ã‚¯å†…å®¹ã§åˆ†ã‘ã‚‹(ã“ã“çµæ§‹ã‚¬ãƒã‚¬ãƒ)
    # # str.splitã‚’ä½¿ã†ã¨ã€ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã®åˆ—ã‚’åŒºåˆ‡ã‚Šæ–‡å­—ã§åŒºåˆ‡ã£ã¦æ–°ã—ã„ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã‚’è¿”ã™
    time_l = []
    user_l = []
    talk_l = []
    date_l = []
    count = 0
    for date, talk in zip(line_df['date'], line_df['talks']):
        # ã‚‚ã—æ­£è¦è¡¨ç¾ã§æ™‚é–“ãŒå–ã‚ŒãŸã‚‰ã‚¹ãƒ—ãƒªãƒƒãƒˆã—ã¦3ã¤ã«åˆ†ã‘ã‚‹
        if(re.match('(\d+):(\d+)', talk)):
            try:
                if(len(talk.split('\t')[0]) == 5):
                    date_l.append(date)
                    time_l.append(talk.split('\t')[0])
                    user_l.append(talk.split('\t')[1])
                    talk_l.append(talk.split('\t')[2])
                    count = count + 1
                else:
                    continue
            except:
                talk_l.append("ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã®é€ä¿¡å–ã‚Šæ¶ˆã—")
                count = count + 1
        else:
            talk_l[count-1] = talk_l[count-1] + talk

    # if(user_l != date_l):
    #     user_l.append(user1)

    line_df = pandas.DataFrame({"date" : date_l,
                            "time" : time_l,
                            "user" : user_l,
                            "talk" : talk_l})

    date_l = []
    for date in line_df['date']:
        date_l.append(date[:-3])
    line_df['date'] = date_l
    
    # datetimeå‹ã§æ™‚é–“ã®çµŒéã‚’è¨ˆç®—ã™ã‚‹ãŸã‚ã«ã€æ—¥ä»˜ã¨æ™‚é–“ã‚’ãã£ã¤ã‘ã¨ã
    line_df['time'] = line_df['date'].str.cat(line_df['time'], sep=' ')
    line_df.drop('date', axis=1, inplace=True)

    # datetimeå‹ã«å¤‰æ›ã™ã‚‹ã¨ã“ã‚ã€‚indexã‚’ãƒªã‚»ãƒƒãƒˆã—ã¦ãŠãã€‚
    line_df['time'] = pandas.to_datetime(line_df['time'], format='%Y/%m/%d %H:%M')
    line_df.reset_index(drop=True, inplace=True)
    
    return line_df

In [38]:
line_df = make_dataframe("[LINE] ryuã¨ã®ãƒˆãƒ¼ã‚¯.txt")
line_df

                    time user                    talk
0    2021-02-22 11:19:00  GoğŸ•¸                  ã“ã‚“ã«ã¡ã¯ï¼
1    2021-02-23 15:00:00  ryu  "ã”ã‚ã‚“ãªã•ã„ï¼å…¨ç„¶æ°—ã¥ãã¾ã›ã‚“ã§ã—ãŸï¼ç¬‘"
2    2021-02-23 15:00:00  ryu                  [ã‚¹ã‚¿ãƒ³ãƒ—]
3    2021-03-11 17:19:00  GoğŸ•¸                ç„¡äº‹æ­»ã«ã¾ã—ãŸç¬‘
4    2021-03-11 17:50:00  ryu             é †ä½ã®è©±ãã‘ã¾ã—ãŸï¼Ÿç¬‘
...                  ...  ...                     ...
1495 2021-08-04 19:34:00  ryu              ã„ã‚„ãƒ¼ãƒ¼æ¥½ã—ã‹ã£ãŸï½—
1496 2021-08-04 19:34:00  GoğŸ•¸                      ç¬‘ç¬‘
1497 2021-08-04 19:34:00  GoğŸ•¸                 ãŠç–²ã‚Œæ§˜ã§ã™ç¬‘
1498 2021-08-04 19:34:00  ryu             ä»Šæ—¥ã‚‚ã‹ã¦ãã‚‡ã§ã™ã‹ï¼Ÿ
1499 2021-08-04 19:34:00  ryu                       ï½—

[1500 rows x 3 columns]

# mecabå…¥ã‚ŒãŸãƒã‚¬ãƒã‚¸ãƒã‚§ãƒƒã‚¯

In [39]:
! pwd

/Users/exidea232/Desktop/å€‹äººåˆ†æ/do_you_really_love_me

In [40]:
# å„ç¨®ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’ã‚¤ãƒ³ãƒãƒ¼ãƒˆ
import csv
import time
import matplotlib.pyplot as plt
import MeCab

# MeCabã‚¤ãƒ³ã‚¹ã‚¿ãƒ³ã‚¹ä½œæˆ
tagger = MeCab.Tagger("Desktop/å€‹äººåˆ†æ/do_you_really_love_me/mecab-ipadic-neologd")


# è¾æ›¸ã®èª­ã¿è¾¼ã¿
pn_df = pd.read_csv('/Users/exidea232/Desktop/å€‹äººåˆ†æ/do_you_really_love_me/pn_ja.dic',\
                   sep=':',
                   encoding='shift-jis',
                   names=('Word','Reading','POS', 'PN')
                  )

In [41]:
line_df['time'] = line_df['time'].dt.strftime('%Y/%m/%d')
temp_df = line_df.copy()

# Qiitaç”¨ã«è©±è€…éš ã™

In [42]:
# u1 = temp_df['user'].unique()[0]
# u2 = temp_df['user'].unique()[1]
# for i, name in enumerate(temp_df['user']):
#     if name == u1:
#         temp_df['user'][i] = "me"
#     elif name == u2:
#         temp_df['user'][i] = 'you'

In [43]:
temp_df

            time user                    talk
0     2021/02/22  GoğŸ•¸                  ã“ã‚“ã«ã¡ã¯ï¼
1     2021/02/23  ryu  "ã”ã‚ã‚“ãªã•ã„ï¼å…¨ç„¶æ°—ã¥ãã¾ã›ã‚“ã§ã—ãŸï¼ç¬‘"
2     2021/02/23  ryu                  [ã‚¹ã‚¿ãƒ³ãƒ—]
3     2021/03/11  GoğŸ•¸                ç„¡äº‹æ­»ã«ã¾ã—ãŸç¬‘
4     2021/03/11  ryu             é †ä½ã®è©±ãã‘ã¾ã—ãŸï¼Ÿç¬‘
...          ...  ...                     ...
1495  2021/08/04  ryu              ã„ã‚„ãƒ¼ãƒ¼æ¥½ã—ã‹ã£ãŸï½—
1496  2021/08/04  GoğŸ•¸                      ç¬‘ç¬‘
1497  2021/08/04  GoğŸ•¸                 ãŠç–²ã‚Œæ§˜ã§ã™ç¬‘
1498  2021/08/04  ryu             ä»Šæ—¥ã‚‚ã‹ã¦ãã‚‡ã§ã™ã‹ï¼Ÿ
1499  2021/08/04  ryu                       ï½—

[1500 rows x 3 columns]

In [44]:
pn_df

       Word Reading  POS        PN
0       å„ªã‚Œã‚‹    ã™ãã‚Œã‚‹   å‹•è©  1.000000
1        è‰¯ã„      ã‚ˆã„  å½¢å®¹è©  0.999995
2        å–œã¶    ã‚ˆã‚ã“ã¶   å‹•è©  0.999979
3       è¤’ã‚ã‚‹     ã»ã‚ã‚‹   å‹•è©  0.999979
4      ã‚ã§ãŸã„    ã‚ã§ãŸã„  å½¢å®¹è©  0.999645
...     ...     ...  ...       ...
55120    ãªã„      ãªã„  åŠ©å‹•è© -0.999997
55121    é…·ã„     ã²ã©ã„  å½¢å®¹è© -0.999997
55122    ç—…æ°—    ã³ã‚‡ã†ã   åè© -0.999998
55123    æ­»ã¬      ã—ã¬   å‹•è© -0.999999
55124    æ‚ªã„     ã‚ã‚‹ã„  å½¢å®¹è© -1.000000

[55125 rows x 4 columns]

## 1.è¡Œã”ã¨ã«å½¢æ…‹ç´ è§£æ

In [46]:
# ä¸¦è¡Œåˆ†æ•£å‡¦ç†ã‹ã‘ã¦ã‚ã’ãªã„ã¨çµ‚ã‚ã‚‰ãªã„ã‚ã€‚

In [47]:
ave_polarity = []
tagger = MeCab.Tagger("Desktop/å€‹äººåˆ†æ/do_you_really_love_me/mecab-ipadic-neologd")
for text in temp_df['talk']:
    pn_value = []
    node = tagger.parseToNode(text)
    while node:
        word_value = pn_df[pn_df['Word']==node.surface]['PN'].values
        if len(word_value)>0:
            pn_value.append(word_value[0])
        else:
            pn_value.append(0)
        node = node.next
    ave_polarity.append(sum(pn_value) / len(pn_value))

In [48]:
temp_df['ave_polarity_value'] = ave_polarity

In [49]:
temp_df

            time user                    talk  ave_polarity_value
0     2021/02/22  GoğŸ•¸                  ã“ã‚“ã«ã¡ã¯ï¼            0.000000
1     2021/02/23  ryu  "ã”ã‚ã‚“ãªã•ã„ï¼å…¨ç„¶æ°—ã¥ãã¾ã›ã‚“ã§ã—ãŸï¼ç¬‘"            0.021693
2     2021/02/23  ryu                  [ã‚¹ã‚¿ãƒ³ãƒ—]           -0.061584
3     2021/03/11  GoğŸ•¸                ç„¡äº‹æ­»ã«ã¾ã—ãŸç¬‘            0.220980
4     2021/03/11  ryu             é †ä½ã®è©±ãã‘ã¾ã—ãŸï¼Ÿç¬‘           -0.017787
...          ...  ...                     ...                 ...
1495  2021/08/04  ryu              ã„ã‚„ãƒ¼ãƒ¼æ¥½ã—ã‹ã£ãŸï½—            0.000000
1496  2021/08/04  GoğŸ•¸                      ç¬‘ç¬‘            0.481765
1497  2021/08/04  GoğŸ•¸                 ãŠç–²ã‚Œæ§˜ã§ã™ç¬‘            0.192706
1498  2021/08/04  ryu             ä»Šæ—¥ã‚‚ã‹ã¦ãã‚‡ã§ã™ã‹ï¼Ÿ            0.033063
1499  2021/08/04  ryu                       ï½—            0.000000

[1500 rows x 4 columns]

In [50]:
pn_value = []
text = "ä¸¦è¡Œåˆ†æ•£å‡¦ç†ã‹ã‘ã¦ã‚ã’ãªã„ã¨çµ‚ã‚ã‚‰ãªã„ã‚ã€‚"
node = tagger.parseToNode(text)
i = 0
while node:
    word_value = pn_df[pn_df['Word']==node.surface]['PN'].values
    pn_value.append(word_value[0]) if len(word_value)>0 else pn_value.append(0)
    print(node.surface, pn_value[i])
    node = node.next
    i = i + 1

 0
ä¸¦è¡Œ 0
åˆ†æ•£ -0.47483400000000003
å‡¦ç† -0.698543
ã‹ã‘ 0
ã¦ 0
ã‚ã’ 0
ãªã„ -0.9998819999999999
ã¨ -0.21579299999999998
çµ‚ã‚ã‚‰ 0
ãªã„ -0.9998819999999999
ã‚ 0
ã€‚ 0
 0

In [51]:
pn_df[pn_df['Word']=="åˆ†æ•£"]

      Word Reading POS        PN
37990   åˆ†æ•£    ã¶ã‚“ã•ã‚“  åè© -0.474834

In [52]:
temp_df[temp_df['ave_polarity_value']>0]

,time,user,talk,ave_polarity_value
1,2021/02/23,ryu,"""ã”ã‚ã‚“ãªã•ã„ï¼å…¨ç„¶æ°—ã¥ãã¾ã›ã‚“ã§ã—ãŸï¼ç¬‘""",0.021693
3,2021/03/11,GoğŸ•¸,ç„¡äº‹æ­»ã«ã¾ã—ãŸç¬‘,0.220980
5,2021/03/11,ryu,"""ãªã‚“ã‹ã€ä»Šãƒãƒ£ãƒƒãƒˆé–‹ã„ãŸã‚‰æš´èµ°ã—ã¦ã¾ã™ã­ç¬‘ãªã‚“ã‹ã€ã‚ã£ãŸã‚“ã§ã™ã‹ï¼Ÿç¬‘""",0.065798
10,2021/03/11,ryu,ç¬‘,0.321177
36,2021/03/11,ryu,ãã‚Œã§ã‹ã˜ã®ã•ã‚“ãŒè’ã‚Œã¦ã‚‹ã‚ã‘ã§ã™ã­ç¬‘,0.028118
...,...,...,...,...
1486,2021/08/04,ryu,4ã±ã¡ã ã£ãŸã‚‰ãªãç¬‘,0.192706
1494,2021/08/04,GoğŸ•¸,ã»ã†ã»ã†ã»ã†ã»ã†ç¬‘ç¬‘,0.240882
1496,2021/08/04,GoğŸ•¸,ç¬‘ç¬‘,0.481765
1497,2021/08/04,GoğŸ•¸,ãŠç–²ã‚Œæ§˜ã§ã™ç¬‘,0.192706
1498,2021/08/04,ryu,ä»Šæ—¥ã‚‚ã‹ã¦ãã‚‡ã§ã™ã‹ï¼Ÿ,0.033063

In [53]:
print("æ¥µæ€§ãŒãƒã‚¸ãƒ†ã‚£ãƒ–ã§ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹å˜èªæ•° : ", len(pn_df[pn_df['PN']>0]))
print("æ¥µæ€§ãŒãƒã‚¬ãƒ†ã‚£ãƒ–ã§ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹å˜èªæ•° : ", len(pn_df[pn_df['PN']<0]))

æ¥µæ€§ãŒãƒã‚¸ãƒ†ã‚£ãƒ–ã§ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹å˜èªæ•° :  5122
æ¥µæ€§ãŒãƒã‚¬ãƒ†ã‚£ãƒ–ã§ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹å˜èªæ•° :  49983

In [54]:
len(pn_df[pn_df['PN']<0])

49983

In [55]:
temp_df.groupby("user").sum()

                      ave_polarity_value
user
GoğŸ•¸                            -2.055841
ryu                           -24.438600
ryuãŒãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã®é€ä¿¡ã‚’å–ã‚Šæ¶ˆã—ã¾ã—ãŸ           -0.124005